.font{
  &-hero{
    @include rfs($font-size-hero);
    font-weight: 800;
    line-height: 1.25;
  }
  &-highlight{
    -webkit-background-clip: text;
    color: transparent;
    @include bg-gradient(to left,100%,$gradient-accent-1,$gradient-accent-2);
  }

  &-nohighlight{
    -webkit-text-fill-color: $secondary-white;
  }
  &-headline{
    &-1{
      @include rfs($font-size-headline-1);
      font-weight: 600;
      line-height: 1.25;
    }
    &-2{
      @include rfs($font-size-headline-2);
      font-weight: 700;
      line-height: 1.5;
    }
  }

  &-subheadline{
    @include rfs($font-size-subheadline);
    font-weight: 600;
    line-height: 1.5;
  }
  &-button{
    @include rfs($font-size-button);
    font-weight: 500;
    line-height: 1.5;
  }
  &-caption{
    @include rfs($font-size-body);
    font-weight: 400;
    line-height: 1.5;
  }

  &-body{
    @include rfs($font-size-caption);
    font-weight: 400;
    line-height: 1.5;
  }

  &-shadowline{
    position: relative;
    z-index: 11;
    &-before{
      position: absolute;
      top: 30px;
      left: -5px;
      line-height: .8;
      background-image: linear-gradient(to right,rgba($background-gradient-1,1%),rgba($background-gradient-2,30%));
      -webkit-text-fill-color: transparent;
      z-index: -1;
      filter: blur(10px);
      @include media-breakpoint-down(md){
        text-align: center;
        top: 20px;
      }
    }
    &-after{
      z-index: 9;
      position: absolute;
      top: 20px;
      left: 0;
      -webkit-text-fill-color: transparent;
      z-index: -10;
      -webkit-text-stroke-color: rgba($secondary-white,.3);
      -webkit-text-stroke-width: 2px;
      @include media-breakpoint-down(md){
        text-align: center;
        top: 10px;
      }
    }
  }
}
