.img{
  &-logo{
    width: 20rem;

    @include media-breakpoint-down(sm){
      width: 10rem;
    }

    &-hackathon{
      height: initial;
      @include media-breakpoint-down(md){
        height: 6rem;

      }
    }
  }

  &-down{
    background: linear-gradient(180deg, $gradient-accent-1 -91.35%, $gradient-accent-2 100%);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    transition: transform 0.5s;

    & > img{
      width: 1.5rem;
      height: 1.5rem;
      z-index: 2;
    }

    &:hover{
      transform: scale(1.25);
      transition: animation 2s;
      &.img-down::after{
        animation-direction: reverse;
        animation-timing-function: ease-in;
      }
    }
    &::after{
      content: "";
      z-index: 1;
      position: absolute;
      opacity: 0.5;
      transform: translate(-50%,-50%);
      animation-name: bigSmallAnimation;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      background: linear-gradient(180deg, $gradient-accent-1 -91.35%, $gradient-accent-2 100%);
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  &-mesh{
    position: absolute;
    top: -8.5rem;
    right: -7.5rem;
    z-index: -1;
    height: 60rem;
  }

  &-event{
    position: relative;
    top: 0;
    right: 0;
    height: 40rem;
    @include media-breakpoint-down(sm){
      height: 25rem;
    }
  }

  &-background-event{
    height: 30rem;
  }
  &-play{
    position: absolute;
    background: linear-gradient(180deg, $gradient-accent-1 -91.35%, $gradient-accent-2 100%);

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    & > img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%,-50%);
      z-index: 2;

    }
    &::after{
      content: "";
      position: absolute;
      top: 35%;
      left: 35%;
      opacity: 0.5;
      width: 30%;
      height: 30%;
      animation-name: bigSmallAnimation;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      background: linear-gradient(180deg, $gradient-accent-1 -91.35%, $gradient-accent-2 100%);
      border-radius: 50%;
      z-index: 0;

    }

  }

  &-footer{
    &-icon{
      height: 1rem;
      margin-right: .5rem;
    }

    &-logo{
      width: 15rem;

      &-bncc{
        width: 10rem ;
      }

      &-gojek{
        width: 11rem ;
      }

      @include media-breakpoint-down(sm){
        &-bncc{
          width: 7rem ;
        }

        &-gojek{
          width: 8rem ;
        }
      }
    }
  }

  &-ghost-header{
    position: absolute;
    top: 0;
    left: 0;
    opacity: .10;
    height: 15rem;

    @include media-breakpoint-down(md){
      height: 10rem;
    }
  }
}