*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: $secondary-white;

}
html{
  height: 100%;
}

body{
  min-height: 100%;
  background-color: red;
}

a{
  color: $secondary-white;
  text-decoration: none;

  &:hover,&:visited,&:link{
    color: inherit;
    text-decoration: none;
  }
}