*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: $secondary-white;
  scroll-behavior: smooth;
}
html{

}

body{
  overflow-x: hidden;
  background: linear-gradient(90deg, $background-gradient-1 0%, $background-gradient-2 51.04%, $background-gradient-1 100%);
}

a{
  color: $secondary-white;
  text-decoration: none;

  &:hover,&:visited,&:link{
    color: inherit;
    text-decoration: none;
  }
}

b{
  font-weight: 600;
}