.sponsor-list{
  margin-bottom: 5rem !important;
  & > img{
    margin: 1rem;
    margin-bottom: 2rem;
  }
}
#sponsor-list{
  &-platinum{
    & img{
      height: $sponsor-biggest-size;
      @include media-breakpoint-down(sm){
        height: $sponsor-biggest-size - 2.5rem;
      }
    }
  }
  &-gold{
    & img{
      height: $sponsor-biggest-size - 2rem
    }
  }
  &-silver{
    & img{
      height: $sponsor-biggest-size - 3rem;
    }
  }

  &-media-partner{
    & img{
      //height: $sponsor-biggest-size - 2rem;
      width: $sponsor-biggest-size + 4rem;

      @include media-breakpoint-down(sm){
        width: $sponsor-biggest-size + 2rem;
      }
    }
  }
}