$primary : #122B5E;
$secondary-white : #E6E6E6;
$gradient-accent-1 : #E7AA68;
$gradient-accent-2 : #F15270;
$background-gradient-1 : #081B43;
$background-gradient-2 : #122B5E;

$font-size-hero : 96px;
$font-size-headline-1 : 72px;
$font-size-headline-2 : 52px;
$font-size-subheadline : 36px;
$font-size-button : 24px;
$font-size-body : 20px;
$font-size-caption : 16px;

$sponsor-biggest-size : 7.5rem;